<!DOCTYPE html>
<!-- 
  Jessica Yu, Chloe Wong, Stella Yampolsky
  :(
  SoftDev
  K15 - Displaying user input with flask
  2024-10-8
  Time Spent: 30 minutes
 -->


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>:( Chloe Wong, Stella Yampolsky, and Jessica Yu</h1>
    <h2>Howdy, friends!</h1>
    <h3>
      Enter your username below to proceed.
    </h3>
    <form action="/auth">
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>
    <br>
  </body>

</html>
